:root{
    --background: white;
    --main-font-size:0.875rem;
    --input-font-size:1rem;
}
body{
    font-family: system-ui, -apple-system, "Inter";
    width:120rem;
    height:67.5rem;
    background-color: #f8fafc;
    color:#0f172a;
}
#login{
    width:26rem;
    height:20rem;
    margin-left:47rem;
    margin-top:18.5625rem;
    background-color: var(--background);
    padding: 1rem;
    display: flex;
    gap:1rem;
    border-radius: 0.75rem;
    flex-direction: column;
    h4{
        font-weight: semi-bold;
        font-size: 1.25rem;
        letter-spacing: -0.5%;
    }
     p{
        width:24rem;
        height: 4.125rem;
        font-size: var(--main-font-size);
        font-weight: 500;
        font-size: medium;
    }
    input{
            width: 24rem;
            height: 2.5rem;
            border-radius: 0.375rem;
            border: 0.0625rem solid #94a3b8;
            font-weight: 400;
            font-size: var(--input-font-size);
            color: #94a3b8;
            margin-top: 0.375rem;
        }
        button{
        margin-top: 0.625rem;
        width:24rem;
        height:2.5rem;
        background-color: #0f172a;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        border-radius:0.375rem ;
    }
    a{
        text-decoration: none;
        color: #6366f1;
    }
    a:hover{
        text-decoration:underline;
    }
}
