html{
    background-color: #f8fafc;
}
body{
    font-family: system-ui, -apple-system, "inter";
}
#header{
    display: flex;
    width: 120rem;
    height: 5rem;
    background-color: white;
    margin-top: -10px;
    svg{
    margin-top: 1.875rem;
    margin-left: 21rem;
}
}
.profile{
    border: 1px solid black;
    width: 11.1875rem;
    height:2.5rem;
    margin-left: 87.8125rem;
    position: absolute;
    margin-top: 1.25rem;
    gap:0.75rem;
}
#sidebar{
    width: 13rem;
    height: 54.5rem;
    position: absolute;
    margin-left: 21rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    .up{
        width: 13rem;
        height: 5.5rem;
        border: solid 1px black;
    }
    .down{
        width: 13rem;
        height: 2.5rem;
        border: 1px solid black;
    }
}
#posts{
    width: 48rem;
    height: auto;
    border: 1px solid black;
    margin-top: 3rem;
    margin-left: 36rem;
}
#adv{
    margin-left: 86rem;
    margin-top: 3rem;
}